APPLICATION_NAME

# Main database settings
DATABASE_NAME
DATABASE_USER
DATABASE_PASSWORD

# Security JWT authorization
JWT_EXPIRATION
JWT_SECRET

# Telegram token
TELEGRAM_TOKEN

# Stripe payment system
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET

# Sheduler config
PAYMENT_SCHEDULER_INTERVAL
RENTAL_SCHEDULER_INTERVAL
RENTAL_SCHEDULER_MESSAGE_REPEAT

# Dockeer config
# Should match the variables above when running locally
MYSQLDB_DATABASE=$DATABASE_NAME
MYSQLDB_ROOT_LOGIN=$DATABASE_USER
MYSQLDB_ROOT_PASSWORD=$DATABASE_PASSWORD

# Ports for forwarding (Local Port -> Docker Port)
MYSQLDB_LOCAL_PORT
MYSQLDB_DOCKER_PORT

SPRING_LOCAL_PORT
SPRING_DOCKER_PORT
DEBUG_PORT